venv
.idea
controleEstoque/__pycache__/
db.sqlite3
suppliers/__pycache__/
suppliers/migrations/__pycache__/
suppliers/API/__pycache__/
orders/__pycache__/
orders/migrations/__pycache__/
orders/API/__pycache__/